/*
	about
*/

li 
{
    display: inline;
    font-size: 16px;
    font-style:italic;
}

#aboutDivide 
{
    padding-left: 36%;
}

#aboutDivide hr
{
    width: 40%;
    background-color: lightgrey;
    
}