/* 
	admin header
*/
#adminHeader {
     text-align: center;
     font-size: 30px;
     line-height: 30px;
     padding: 10px;
     padding-bottom: 20px;
}
#adminHeader a {
    padding-right: 10px;
    padding-left: 10px;
    border-left: 2px solid black; 
    color: black;
}

#adminHeader #current {
    color: darkslategray;
    text-shadow: 0.08em 0.08em 0.08em grey;
}