/*
	login 
*/


#login {
    background-color: lightgrey;
    height: 300px;
}
#loginForm {
    position: absolute;
    left: 25%;
}
form {    
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    #loginForm {
        position: absolute;
        right: 400px;
    }
}